@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #212121;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  background: url(/images/headerBanner.png);
  background-size: auto 1014px;
  background-position: top;
  background-repeat: no-repeat;
  min-width: 320px;
  overflow-x: hidden;
}

.header-area {
  min-width: 1563px;
  margin-top: 15px;
  margin-bottom: 126px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container > img {
  width: 280px;
  height: 60px;
}

.nav__container {
  margin: 0 70px 0 200px;
}
.nav__container > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav__container > nav > ul > li {
  margin: 10px;
  padding: 0 24px;
}
.nav__container > nav > ul > li > a {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.theme__switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.theme__switch-container .theme__switch-circle {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
  background: -o-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
  background: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
  background: linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
}

.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-register-container > a {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

#user__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 24px;
  padding: 0 13px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#user__container .logged-user > a {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.language__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.language__container > select {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background: none;
  border: none;
}

.bonus-programm-area {
  min-width: 1563px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.bonus-programm-area > .bonus-programm-container {
  width: 390px;
  height: 236px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background: -webkit-linear-gradient(top left, rgba(254, 254, 254, 0.2), rgba(254, 254, 254, 0.6));
  background: -o-linear-gradient(top left, rgba(254, 254, 254, 0.2), rgba(254, 254, 254, 0.6));
  background: -moz-linear-gradient(top left, rgba(254, 254, 254, 0.2), rgba(254, 254, 254, 0.6));
  background: linear-gradient(to top left, rgba(254, 254, 254, 0.2), rgba(254, 254, 254, 0.6));
  border-radius: 10px;
}

.bonus-programm-top {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 25px;
  margin: 25px 0 0;
}
.bonus-programm-top > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bonus-programm-top > div > i {
  color: #07005A;
}

.bonus-programm-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 25px;
  margin: 25px 0;
}
.bonus-programm-text-container {
  width: 340px;
}
.bonus-programm-text-container > p {
  color: rgba(33, 33, 33, 0.7);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.bonus-programm-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}
.bonus-programm-bottom-container {
  width: 340px;
}
.bonus-programm-bottom-container > p {
  color: #07005A;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.bonus-programm-bottom-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}
.bonus-programm-bottom-register-container {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.bonus-programm-bottom-register-container > a {
  color: #07005A;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.ulForHideSelectOption {
  margin-bottom: 20px;
}

.ulForHideSelectOptions {
  display: none;
  position: relative;
  border: 2px solid rgb(124, 124, 124);
  left: 5px;
}

.show {
  display: block;
}/*# sourceMappingURL=style.css.map */