@import "vars";
@import "fonts";
@import "media";

// font-family: "Bai Jamjuree", sans-serif;
// font-family: "Jura", sans-serif;
//GENERAL STYLING START
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  // outline: auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: $text-light;
}

button, ul, li, label {
  cursor: pointer;
}

// mixins start
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  }
@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  // mixins end

body {
  background-color: $background-color;
  min-width: 320px;
  // overflow-x: hidden;
  // max-width: 1560px;


  &>.wrapper{
    @include flex-center;
    flex-direction: column;

    max-width: 1534px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

  }
}

.banner__video{
  // @include flex-center;
  transform-origin: center center; 
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: -10;
  // margin-bottom:20px;
  width: 100%;
  height: auto;

  &::after {
    background: linear-gradient(180deg, rgba(29,29,29,0.4), $background-color);
    content: '';
    // display: block;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }


  &>video{
    // object-fit: contain;
    // background-size: cover;
    width: 100%;
    height: 100%;
  }

  &>p{
    position: relative;
    top: -100px;
    right: 0;
    z-index: 2;
   
    white-space: nowrap;
    color: $text-light;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}

// header start

.header-area{
  @include flex-center;
  width: 100%;
  height: 100vh;

  margin-top: 30px;

  &>.header__container{
    @include flex-between;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  & .header__top{
    @include flex-between;
    width: 100%;

    &>.header__left{
      @include flex-between;

      
    .logo__container{
      margin-right: 40px;
      &>img{
        width: 107px;
        height: 64px;
      }
    }

      &>.nav__container{

        &>nav{

          &>.nav__ul{
            display: flex;
            flex-direction: row;
            gap: 30px;
      
            &>.nav__li>a{
    
              white-space: nowrap;
              color: $text-light;
              font-family: "Jura", sans-serif;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
            }
          }
        }
      }
    }

    &>.header__right{
      @include flex-between;

      gap: 30px;
      &>.language__container{
        display: flex;
        flex-direction: row;
        gap: 10px;

        &>p{

          white-space: nowrap;
          text-align: center;
          color: $text-light;
          font-family: "Jura", sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
        }
      }

      &>#user__container{

        &>.login-register-container{
          @include flex-center;

          &>a{
  
            white-space: nowrap;
            height: 100%;
            color: $text-light;
            font-family: "Jura", sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
          }
        }
      }

      &>.phone__number-container{
        @include flex-center;

        &>a{
          display: flex;
          flex-direction: row;
          align-items: center;

          &>p{
  
            white-space: nowrap;
            height: 100%;
            color: $text-light;
            font-family: "Bai Jamjuree", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
          }
        }
      }

      &>.theme__switch-container {
        @include flex-center;
        &>.theme__switch-circle {
          width: 24px;
          height: 24px;
          border: 1px solid rgb(255, 255, 255);
          border-radius: 50%;
          background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
          background: -o-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
          background: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
          background: linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
        }
      }

    }
  }

  & .header__bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    position: relative;
    top: -160px;

    &>h1{
      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Bai Jamjuree", sans-serif;
      // font-family: "Jura", sans-serif;
      font-weight: 500;
      font-size: 70px;
      line-height: 86px;
    }

    &>p{
      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Bai Jamjuree", sans-serif;
      font-weight: 500;
      font-size: 35px;
      line-height: 44px;

      margin:40px 0 35px;
    }

    &>.park__links{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      gap: 40px;

      &>a{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        padding: 10px 32px;

        white-space: nowrap;
        height: 100%;
        color: $text-light;
        font-family: "Jura", sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}






// header end

//about us area start

.aboutus-area{
  width: 100%;
  height: 404px;
  background-image: url(/images/BgInfoAboutUs.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

//about us area end

// select options ==============================================
.ulForHideSelectOption {
  margin-bottom: 20px;
}

.ulForHideSelectOptions {
  display: none;
  position: relative;
  border: 2px solid rgb(124, 124, 124);
  left: 5px;
}

.show {
  display: block;
}/*# sourceMappingURL=style.css.map */