@import "vars";
@import "fonts";

//GENERAL STYLING START
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  // outline: auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: $text-dark;
}

button, ul, li, label {
  cursor: pointer;
}

// mixins start
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  }
@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
@mixin links-font {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  }


  // mixins end

body {
@include flex-center;
flex-direction: column;

// background: url(/images/headerBanner.png);
// background-size: auto 1014px;
// background-position: top; 
// background-repeat: no-repeat;

background-color: #696969;
min-width: 320px;
overflow-x: hidden;
// max-width: 1560px;
}
