@import "vars";
@import "fonts";
@import "media";

// font-family: "Bai Jamjuree", sans-serif;
// font-family: "Jura", sans-serif;

// mixins start
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  }
@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
@mixin input-placeholder {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  }

  // mixins end
  // keyframes start
  
  @keyframes increaseHeight {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
    // keyframes end

//GENERAL STYLING START
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // outline: black solid 1px auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: $text-light;
}

button, ul, li, label {
  cursor: pointer;
}

body {
  background-color: $background-color;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  max-width: 1534px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.banner__video{
  transform-origin: center center; 
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: -10;
  width: 100%;
  height: auto;

  &::after {
    background: linear-gradient(180deg, rgba(29,29,29,0.4), $background-color);
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }


  &>video{
    min-height: 100%;
  }

  &>p{
    position: relative;
    top: -100px;
    right: 0;
    z-index: 2;

    white-space: nowrap;
    color: $text-light;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}

// header start

.header-area{
  width: 100%;
  height: 100%;
  margin-top: 30px;

}

.header__container{
  @include flex-between;
  flex-direction: column;
  width: 100%;
  height: 900px;
}

.header__top{
  @include flex-between;
  width: 100%;

  &>.header__left{
    @include flex-between;
    .logo__container{
      margin-right: 40px;
    }
  }
}


nav{
  &>.nav__ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    pointer-events: none;

    &>.nav__li{
      position: relative;
      pointer-events: all;
      &>a{
        white-space: nowrap;
        color: $text-light;
        font-family: "Jura", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .nav__li::before{
      content: '';
      width: 0px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      border-bottom: solid 1px white;
    }
    .nav__li:hover::before{
      animation: border_hover_animation 0.3s linear forwards;
    }
  }
}

@keyframes border_hover_animation {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.header__right{
  @include flex-between;
  gap: 30px;

  &>.language__container{
    display: flex;
    flex-direction: row;
    gap: 10px;

    &>p{
      white-space: nowrap;
      text-align: center;
      color: $text-light-half-transparent;
      font-family: "Jura", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      cursor: pointer;
    }
    &>.language-active{
      color: $text-light;
    }
  }

  &>#user__container{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 5px;

    &>.login-register-container{
      @include flex-center;

      &>a{
        white-space: nowrap;
        height: 100%;
        color: $text-light;
        font-family: "Jura", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  & .logged-user{
    @include flex-center;

    a{
      @include flex-center;
      gap: 5px;
      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &>.phone__number-container{
    @include flex-center;

    &>a{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      &>p{

        white-space: nowrap;
        height: 100%;
        color: $text-light;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  &>.theme__switch-container {
    @include flex-center;
    &>.theme__switch-circle {
      width: 24px;
      height: 24px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 50%;
      background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
      background: -o-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
      background: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
      background: linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
    }
  }

}

.header__bottom{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  position: relative;
  top: -160px;

  &>h1{
    white-space: nowrap;
    height: 100%;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 86px;
    pointer-events: none;
  }

  &>p{
    white-space: nowrap;
    height: 100%;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;

    margin:40px 0 35px;
    pointer-events: none;
  }

  &>.park__links{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 40px;

    &>a{
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      padding: 10px 32px;

      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;

      transition: background 0.3s ease-in-out;
    }

    &>a:hover{
      background: rgba(255, 255, 255, 0.35);
      transition: background 0.3s ease-in-out;
    }
  }
}


// header end

//about us area start

.aboutus-area{
  width: 100%;
  height: 404px;

  margin-top: 170px;

  background-image: url(/images/backgrounds/BgInfoAboutUs.svg);
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: center;
}

.aboutus-area-container{
  @include flex-center;
  height: 100%;
  gap: 140px;

  &__el{
    @include flex-center;
    flex-direction: column;

    &>p{
      text-align: center;
      height: 46px;
      color: $text-light;
      font-family: "Bai Jamjuree", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;

      margin-top: 30px;
    }
  }
}

//about us area end

//search form area start

.search-form-area{
  @include flex-center;
  flex-direction: column;
  width: 100%;

  & h2{
    height: 100%;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;

    pointer-events: none;
  }
}
.search-form__text{
  width: 100%;
  margin-bottom: 40px;
}

.search-form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &>.search-container{
    width: 100%;

    &>.search__select-options{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      flex-direction: row;
    }
  }
}
  //select car end

//rendered cars for rent start
.car-list__container{
  width: 100%;
  margin-top: 70px;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &>#car-list-render{
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 30px;
  }
}

.car-list__box{
  width: 480px;
  height: 100%;
  cursor: pointer;
  &>img{
    width: 100%;
    height: 300px;
  }

  &>.car-list__box-make-model{
    margin: 10px 0;
    text-align: start;

    &>h4{
      white-space: nowrap;
      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 600;
      font-size: 25px;
      line-height: 33px;
    }
  }

  &>.car-list__box-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .car-list__box-details-price{
      &>h5{
        white-space: nowrap;
        color: $text-light;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 31px;
      }
    }
  }

  .car-list__box-details-tech{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 20px;

    .car-list__box-details-tech__item{
      display: flex;
      flex-direction: row;
      gap: 10px;

      &>img{
        width: 100%;
        height: 23px;
      }

      &>h6{
        white-space: nowrap;
        color: $text-light;
        opacity: 60%;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
      }
    }
  }
}

.car-list__box:hover>img{
  // scale: 1.2;
}
// render cars end

.show-more-cars{
  width: 100%;
  height: 100px;

  margin-top: 30px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  border: 2px $text-light solid;

  &>p{
    white-space: nowrap;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }
}
.show-more-cars:hover{
  background-color: rgba(255, 255, 255,0.05)
}
//select option start
.select-options-for-rent{
  @include flex-center;
  flex-direction: column;
  width: 280px;
  min-height: 150px;
  position: relative;
  
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.05);
  

  &>span{
    cursor: pointer;
    min-width: 130px;
    height: 30px;

    display: flex;
    align-items: flex-start;
    flex-direction: row;

    gap: 16px;
    
    &>p{
      text-align: center;
      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }

    &>img{
      height: 100%;
    }
  }
}

.ul-for-hide-selectoptions {
  min-width: 130px;
  // max-height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: -999;
  
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  gap: 15px;
  margin-top: 15px;
}

.select-option-make {
  width: 100%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  gap: 10px;
  
  & input{
    cursor: pointer;
    width: 22px;
    height: 22px;
    border:  none;
    background-color: transparent;
    
  }

  & label{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    color: $text-light;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
}

.ulForCarModels {
  margin-left: 11px;
  gap: 10px;
}

.select-option-container{
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;

  gap: 10px;

  &>span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &>p{
      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
//select option make end

.select-option {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 10px;
    
    &>input{
      cursor: pointer;
      width: 22px;
      height: 22px;
      border:  none;
      background-color: transparent;
      
    }

    &>label{
      white-space: nowrap;
      height: 100%;
      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }


    &>.ulForCarModels {
      margin-left: 11px;
      gap: 10px;
    }

    & .select-option-container{
      width: 100%;

      display: flex;
      align-items: center;
      flex-direction: row;

      gap: 10px;
    }
}

//select options and car end

// aditional-info-area start
.aditional-info-area{
  width: 100%;
  height: 100%;

  margin: 70px 0;
  @include flex-center;
  flex-direction: column;
}

.aditional-info-area-container{
  width: 100%;
  gap: 70px;

  @include flex-center;
  flex-direction: column;
}

.info-about-bonus-programm{
  width: 100%;
  height: 416px;
  padding: 74px;

  position: relative;

  display: flex;
  align-items: flex-start;
  background-color: black;

  background-image: url(/images/backgrounds/bgForBonusInfo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: center;

  &::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    height: 120px;
    border-top: 2px solid $text-light;
    border-left: 2px solid $text-light;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 120px;
    height: 120px;
    border-bottom: 2px solid $text-light;
    border-right: 2px solid $text-light;
  }
}

.info-about-bonus-programm-container{
  max-width: 422px;
  
  p:first-child{
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  p:nth-child(2){
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
}


//about company seccion start

.info-about-company{
  width: 100%;
  height: 810px;

  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: url(/images/backgrounds/bgChDeamCars.svg);
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: center;
}
.info-about-company-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 80px;

  flex-direction: column;

  &>button{
    width: 100%;
    max-width: 465px;
    @include flex-between;
    flex-direction: row;
    background-color: transparent;
    border: none;
    
    pointer-events: all;
    &>p{
      text-align: center;
      width: 280px;
      height: 50px;

      white-space: nowrap;
      padding: 9px 13px;

      border-bottom: 1px solid $text-light;

      color: $text-light;
      font-family: "Jura", sans-serif;
      font-weight: 700;
      font-size: 28px;
    }
  }
}

//about company seccion end

// aditional-info-area start
.info-about-aditioal-rent-options{
  @include flex-center;
}
.info-about-aditioal-rent-options-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 24px;

  pointer-events: none;
}
.info-about__aditioal-rent-option{
  width: 480px;
  height: 190px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;

  border: 3px solid rgba(255, 255, 255, 0.2);

  &>text{
    width: 100%;
    height: 100%;

    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
}
// aditional-info-area end
// info-about-contacts start

.info-about-contacts{
  width: 100%;
  height: 416px;
  padding: 74px;

  position: relative;

  display: flex;
  align-items: flex-start;

  background-image: url(/images/backgrounds/bgOurContacts.jpg);
  background-color: black;
  background-size: 800px auto;
  background-repeat: no-repeat;
  background-position: right;

  &::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    height: 120px;
    border-top: 2px solid $text-light;
    border-left: 2px solid $text-light;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 120px;
    height: 120px;
    border-bottom: 2px solid $text-light;
    border-right: 2px solid $text-light;
  }
}

.info-about-contacts-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  &>h2{
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    pointer-events: none;
  }
  &>p{
    max-width: 422px;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0 5px;

    pointer-events: none;
  }
  &>a{
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    border-bottom: 1px solid $text-light;
  }
  &>a:hover{
    color: $text-light-half-transparent;
  }

}
.info-about-contacts-buttons{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.contacts-button{
  width: 250px;
  height: 50px;
  
  text-align: center;
  padding: 13px 0;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.whatsapp{
  background-color: rgba(27, 102, 40, 0.25);
  color: rgba(55, 198, 52, 1);
}
.whatsapp:hover{
  background-color: rgba(27, 102, 40, 0.4);
}

.telegram{
  background-color:rgba(38, 165, 196, 0.25);
  color: rgba(38, 165, 196, 1);
}
.telegram:hover{
  background-color:rgba(38, 165, 196, 0.3);
  color: rgba(38, 165, 196, 1);
}

// info-about-contacts end


//footer start

.footer-area{
  width: 100%;
  margin-bottom: 50px;

  &>.footer-area__container{
    display: flex;
    flex-direction: column;

    &>hr{
      margin:40px 0 20px ;
    }
  }
}
.footer-top, .footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  &>a{
    color: $text-light-transparent;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}

.footer-left{
  max-width: 390px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &>img{
    width: 130px;
    height: 78px;
  }
  &>p{
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 18px;
    pointer-events: none;
  }
}

.footer-center{
  max-width: 265px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &>h5{
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 24px;
    pointer-events: none;

  }
  &>a{
    color: $text-light-transparent;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
}

.footer-right{
  max-width: 290px;
  gap: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &>a{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;

    color: $text-light-transparent;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    &>img{
      width: 25px;
      height: 25px;
    }

    &>p{
      white-space: nowrap;
      pointer-events: none;
    }
  }
}
.footer-right-top-container{
  display: flex;
  flex-direction: row;
  gap: 24px;

  &>h5{
    margin-right: 26px;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 24px;
    pointer-events: none;
  }
}

.footer-right-map-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  &>img{
    width: 20px;
    height: 25px;
  }

  &>p{
    color: $text-light-transparent;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
}
//footer end



//register start

//register header start
.header-register-area{
  width: 100%;
  @include flex-center;
  margin-top: 30px;

  .header-register-area-container{
    width: 100%;
    @include flex-between;
    flex-direction: row;
  }
}

.header-register-close-button{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  &>p{
    color: $text-light;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
}
//register header end

.register-area, .login-area{
  width: 100%;
  @include flex-center;
  margin: 50px 0 130px;
}

.register-area__container, .login-area-container{
  // max-width: 400px;
  width: 100%;
  @include flex-center;
  flex-direction: column;

  &>h1{
    text-align: center;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 63px;
  }
}

#registerForm, #logInForm{
  width: 100%;
  max-width: 320px;
  gap: 27px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;
}
#logInForm{
  gap: 40px;
}

.register-area__input-field, .login-area__input-field{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  &>p{
    margin-right: 8px;
    text-align: end;
    white-space: nowrap;
    color: $text-light;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;

    a{
      font-weight: bold;
      text-decoration: underline;
    }

  }
  &>.show-password{
    @include flex-center;
    width: 62px;
    height: 19px;

    position: absolute;
    top: -21px;
    right: 0;

    margin-right: 8px;

    cursor: pointer;
  }

  &>input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: none;

    border-radius: 2px;
  }
  &>input:focus{
    outline: black solid 1px gray solid 2px;
  }
  
  &>input::-webkit-input-placeholder {
    @include input-placeholder;
  }

  &>input:-ms-input-placeholder {
    @include input-placeholder;
  }

  &>input:-moz-placeholder {
    @include input-placeholder;
  }

  &>input::-moz-placeholder {
    @include input-placeholder;
  }
}

.password-show-option{
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;

  gap: 4px;

  &>img{
    width: 16px;
    height: 15px;
  }

  &>p{
    width: 42px;
    text-align: left;
    color: $text-light;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}

.register-button, .login-button{
  max-width: 236px;
  width: 100%;
  height: 50px;

  color: black;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 16px;

  cursor: pointer;
}


.register-error-message{
  @include flex-center;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 2px;

  color: $text-light;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 16px;
}



//register end

.scroll-to-top {
  opacity: 0;
  pointer-events: none;
  z-index: -10;

  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;

  transition: opacity 1s ease-in;
}
.forScrollToTop{
  width: 100%;
  height: 0;
  position: sticky;
  top: 1px;
}

.scroll-to-top:hover>svg>g>path {
  fill-opacity: 0.2;
}

//for manager start
.ulForHideSelectOptions {
  display: none;
}
.showOptions{
  display: block;
}

.addNewCar{
  color: $text-light;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 24px;
  gap: 6px;
}

//for manager end

.show {
  max-height: 300px;
  display: flex; 
  opacity: 1;
  pointer-events: all;
  position: relative;
  z-index: 2;
  animation: increaseHeight 0.4s ease-in-out;
  overflow: scroll;
}