$background-color: rgba(29, 29, 29, 1);
$background-transparent: rgba(255, 255, 255, 0.05);

$text-light: #FFFFFF;
$text-light-half-transparent: rgba(255, 255, 255, 0.5);
$text-light-transparent: rgba(255, 255, 255, 0.9);
